* {
  box-sizing: border-box;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f9ff;
  margin: 10% 25%;
}

.calculator {
  width: 320px;
  height: auto;
  /* text-align: center; */
  background-color: #f6f6f6;
  box-shadow: 8px 8px 4px #0000001f ;
  padding: 20px;
}

.display-box input {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.button-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  box-shadow: 8px 8px 4px #0000001f;
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #eaeaea;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-column: 3 / 5;
}

.equal-sign:hover {
  color: #000;
}

.all-clear {
  background-color: #f0595f;
  color: #fff;
}

.all-clear:hover {
  color: #000;
}